html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.6);
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 14px;
  width: 100%;
  color: rgba(0,0,0,.6);
}

select {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Positions background arrow image */
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC') 95% center no-repeat;
}

button, span {
  outline:none;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .25);
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.app-header h1 {
  font-size: 2.5em;
  letter-spacing: 3px;
  color: #f5f6fa;
  margin: 0;
  font-weight: 700;
}

.app-header h1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.app-container {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 960px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .app-container {
    width: 98%;
  }
}

.inner-container {
  flex: 1;
  padding: 0 30px;
}

.app-footer {
  padding: 20px;
  text-align: center;
  font-size: 1em;
}

.app-footer a {
  font-size: 1.5em;
}

/* Posts */
.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 560px) {
  .subheader {
    flex-direction: column;
    justify-content: flex-start;
  }

  .subheader h2 {
    margin-bottom: 10px;
  }
}

/* for IE and Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

.comments-list {
  margin-left: 15px;
}

.comments-list-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.errorMessage {
  display: flex;
  width: 100%;
  padding: 15px;
}