.post-short {
    color: rgba(0,0,0,.6);
    font-size: 1.2em;
}

.post-date {
    background-color: rgb(245, 244, 244);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 8px;
    padding: 15px;
    margin: 5px 0;
}