.vote-control-up, .vote-control-down {
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sort {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 10px;
}

.some-space {
    padding: 20px 10px;
}